/Users/tfiez/GitHub/spatial-data-analysis/results_belltown_commcore/
/Users/tfiez/GitHub/spatial-data-analysis/results_belltown_denny/
/Users/tfiez/GitHub/spatial-data-analysis/results_belltown_denny_4/
/Users/tfiez/GitHub/spatial-data-analysis/results_belltown_denny_commcore/
/Users/tfiez/GitHub/spatial-data-analysis/results_belltown_k_25/
/Users/tfiez/GitHub/spatial-data-analysis/results_belltown_k_3/
/Users/tfiez/GitHub/spatial-data-analysis/results_belltown_k_5/
/Users/tfiez/GitHub/spatial-data-analysis/results_belltown_k_50/
*.pyc
test_ignore.py
test.py
locational_demand-Copy1.ipynb
locational_demand-Copy2.ipynb
locational_demand.ipynb
